{% extends 'events/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.is_superuser %}

            <h1>Update Booking</h1>
            <br/>
            <form action="" method=POST>
            {% csrf_token %}
            {{ form.as_p }}
            <br/>
            <input type="submit" value="Update" class="btn btn-secondary">

        {% else %}
            <h2>Access Denied</h2>
            <p>Only the Booking Owner/Photographer can update this event.</p>

            Logged In User:  {{ user }}
            <br/>
            Booking Photographer: {{ booking.photographer }}
            <br/>
        {% endif %}


    {% else %}
        <h1>Sorry! You Must Be Logged In To View This Page.</h1>

        <a href="{% url 'login' %}">Login Here</a>
    {% endif %}



{% endblock %}