{% extends 'events/base.html' %}
{% block title %}Order History{% endblock %}
{% block content %}
<body>
    <h1 class="title">Order History</h1>
    {% for order in orders %}
        <div class="order">
            <h3>Order #{{ order.id }}</h3>
            <p>Date: {{ order.created_at }}</p>
            <p>Status: {{ order.get_status_display }}</p>
            <p>Booking Name: {{ order.booking.name }}</p>
            <p>Package: {{ order.booking.package.name }}</p>
            <!-- Add more details as needed -->
        </div>
    {% empty %}
        <p>You have no past orders.</p>
    {% endfor %}
</body>
{% endblock %}
